.back-grey{
     background-color: beige;
     background-image: linear-gradient(to right, lightcyan, beige);
 }


 .question_on_list{
            border-radius: 25px;
            background-color: lightseagreen;
            background-image: linear-gradient(to right, lightcyan, darkorange, beige);
            border: 3px solid black;
            padding: 10px;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
        }

 .list_bar, .button{
      display: flex;
      flex-direction: row;
 }

 .button{
     justify-content: flex-end;
     margin-left: auto;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: 5px;
 }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: left;
    margin-top: 20px;
}

.form_first{
            border-radius: 25px;
            background-color: lightseagreen;
            background-image: linear-gradient(to right, lightcyan, darkorange, beige);
            border: 5px solid black;
            padding: 10px;
            margin-top: 10px;
            margin-left: 300px;
            margin-right: 300px;
        }

.post{
            border-radius: 25px;
            background-color: lightseagreen;
            background-image: linear-gradient(to right, lightcyan, darkorange, beige);
            border: 5px solid black;
            padding: 10px;
            margin-top: 10px;
            margin-left: 300px;
            margin-right: 300px;
        }

.post_on_list{
            text-align: center;
            border-radius: 25px;
            background-color: lightseagreen;
            background-image: linear-gradient(to right, lightcyan, darkorange, lightcyan);
            border: 5px solid black;
            padding: 10px;
            margin-top: 10px;
}

.profile{
    border-radius: 25px;
    background-color: lightseagreen;
    background-image: linear-gradient(to right, lightcyan, darkorange, beige);
    border: 5px solid black;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
}

.white-text{
    color: white;
}

.black-text{
    color: black;
}

.info{
     justify-content: flex-end;
     margin-left: 10px;
     margin-right: auto;
 }

.image_part{
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 10px;

}

.prof-bar{
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
}

.break-word{
    word-break: break-word;
}