{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

{% block main %}
<div class="form_first">
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <p style="margin-left: 10px">Don't have an account? Create one <a class="black-text" href="/register">Here</a>!</p>
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
</div>
{% endblock %}
</html>